<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <link rel="canonical" href="<%= meta_canonical_url %>">

    <meta property="og:title" content="<%= meta_og_title %>">
    <meta property="og:description" content="<%= meta_og_description %>">
    <meta property="og:type" content="<%= meta_og_type %>">
    <meta property="og:url" content="<%= meta_og_url %>">
    <meta property="og:image" content="<%= meta_og_image %>">
    <meta name="viewport" content="width=1440">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
